#calcl {
  width: 90%;
  height: 50px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: cursive;
  box-shadow: inset 0px 2px 10px 10px grey;
  margin-top: 40px;
}
#calcl:hover {
  color: blue;
  border: 2px solid black;
}
#calcl {
  width: 100%;
}
body {
  cursor: default;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-color: black;
}
input {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding: 0 0 0 20px;
}
div {
  border: 1px solid white;
  border-radius: 20px;
  padding: 4%;
  position: relative;
  overflow: hidden;
}
img {
  position: absolute;
  opacity: 0.1;
  z-index: -1;
  left: -10%;
  top: 0%;
}
.col {
  color: white;
}

/*RESPONSIVE CSS*/

@media only screen and (max-width: 430px) {
  input {
    width: 300px;
    height: 40px;
  }
}

@media only screen and (max-width: 325px) {
  input {
    width: 250px;
  }
}
